<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.OrderInfoMapper">

    <!-- 分页获取订单信息 -->
    <select id="selectOrderPage" resultType="java.util.LinkedHashMap">
        select
        oi.id,
        oi.code,
        oi.pharmacy_id,
        oi.total_cost,
        oi.user_id,
        oi.create_date,
        oi.logistics_id,
        oi.order_status,
        oi.del_flag,
        ui.id AS userId,
        ui.name,
        ui.phone,
        ui.address AS userAddress,
        phi.name AS pharmacyName,
        phi.address,
        phi.legal_person,
        phi.phone as pharmacyPhone,
        oe.id as evaluateFlag
        from
        order_info oi
        left join pharmacy_info phi on
        (phi.id = oi.pharmacy_id)
        left join user_info ui on
        (ui.id = oi.user_id)
        left join order_evaluate oe on
        (oe.order_id = oi.id)
        where
        1 = 1
        <if test="orderInfo.code != null and orderInfo.code != ''">
            AND oi.code LIKE CONCAT('%',#{orderInfo.code},'%')
        </if>
        <if test="orderInfo.userName != null and orderInfo.userName != ''">
            AND ui.name LIKE CONCAT('%',#{orderInfo.userName},'%')
        </if>
        <if test="orderInfo.pharmacyName != null and orderInfo.pharmacyName != ''">
            AND phi.name LIKE CONCAT('%',#{orderInfo.pharmacyName},'%')
        </if>
        <if test="orderInfo.userId != null">
            AND ui.user_id = #{orderInfo.userId}
        </if>
        order by
        oi.create_date desc
    </select>

    <!-- 根据用户月份获取绩效 -->
    <select id="selectPerformanceByStaffCodeMonth" resultType="cc.mrbird.febs.cos.entity.InventoryStatistics">
        select
        ls.id,
        ls.pharmacy_id,
        ls.drug_id,
        ls.quantity,
        ls.storage_type,
        ls.create_date,
        ls.custodian,
        di.name AS drugName,
        di.brand,
        di.unit_price,
        di.images
        from
        inventory_statistics ls
        left join drug_info di on
        (di.id = ls.drug_id)
        where
        1 = 1
        and ls.custodian = #{staffCode}
        <if test="year != null and year != ''">
            AND DATE_FORMAT( ls.create_date, '%Y' ) = #{year}
        </if>
        <if test="month != null and month != ''">
            AND DATE_FORMAT( ls.create_date, '%m' ) = #{month}
        </if>
    </select>

    <!-- 查询总收益 -->
    <select id="selectOrderPrice" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(oi.total_cost), 0) FROM order_info oi
    </select>

    <!-- 订单销售药品类别统计 -->
    <select id="selectOrderDrugType" resultType="java.util.LinkedHashMap">
        select sum(od.quantity) as count, di.name from
        order_detail od
        left join drug_info di on
        (di.id = od.drug_id)
        where 1 = 1
        group by od.drug_id
    </select>

    <!-- 十天内订单数量统计 -->
    <select id="selectOrderNumWithinDays" resultType="java.util.LinkedHashMap">
        SELECT
        DATE_FORMAT( spo.days, '%m-%d' ) AS days,
        IFNULL(COUNT(oi.id), 0) AS count
        FROM
        (
        SELECT
        DATE_SUB( curdate(), INTERVAL + 0 DAY ) days UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 1 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 2 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 3 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 4 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 5 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 6 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 7 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 8 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 9 DAY )) spo
        LEFT JOIN order_info oi ON (
        DATE_FORMAT( oi.create_date, '%Y-%m-%d' ) = DATE_FORMAT( spo.days, '%Y-%m-%d' )
        <if test="pharmacyId != null">
            AND oi.pharmacy_id = #{pharmacyId}
        </if>
        )
        GROUP BY
        days
        ORDER BY
        days ASC
    </select>

    <!-- 十天内订单收益统计 -->
    <select id="selectOrderPriceWithinDays" resultType="java.util.LinkedHashMap">
        SELECT
        DATE_FORMAT( spo.days, '%m-%d' ) AS days,
        IFNULL(SUM(oi.total_cost), 0) AS price
        FROM
        (
        SELECT
        DATE_SUB( curdate(), INTERVAL + 0 DAY ) days UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 1 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 2 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 3 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 4 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 5 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 6 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 7 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 8 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 9 DAY )) spo
        LEFT JOIN order_info oi ON (
        DATE_FORMAT( oi.create_date, '%Y-%m-%d' ) = DATE_FORMAT( spo.days, '%Y-%m-%d' )
        <if test="pharmacyId != null">
            AND oi.pharmacy_id = #{pharmacyId}
        </if>
        )
        GROUP BY
        days
        ORDER BY
        days ASC
    </select>

    <!-- 获取本月订单信息 -->
    <select id="selectOrderByMonth" resultType="cc.mrbird.febs.cos.entity.OrderInfo">
        select
        oi.id,
        oi.code,
        oi.pharmacy_id,
        oi.total_cost,
        oi.user_id,
        oi.create_date,
        oi.logistics_id,
        oi.order_status,
        ui.name,
        ui.phone,
        ui.address AS userAddress
        from
        order_info oi
        left join user_info ui on
        (ui.id = oi.user_id)
        where
        DATE_FORMAT( oi.create_date, '%Y%m' ) = DATE_FORMAT(
        CURDATE(),
        '%Y%m')
    </select>

    <!-- 获取本年订单信息 -->
    <select id="selectOrderByYear" resultType="cc.mrbird.febs.cos.entity.OrderInfo">
        select
        oi.id,
        oi.code,
        oi.pharmacy_id,
        oi.total_cost,
        oi.user_id,
        oi.create_date,
        oi.logistics_id,
        oi.order_status,
        ui.name,
        ui.phone,
        ui.address AS userAddress
        from
        order_info oi
        left join user_info ui on
        (ui.id = oi.user_id)
        where
        DATE_FORMAT( oi.create_date, '%Y' ) = DATE_FORMAT(
        CURDATE(),
        '%Y')
    </select>

    <!-- 获取用户订单物流 -->
    <select id="selectOrderLogistics" resultType="java.util.LinkedHashMap">
        SELECT
            oi.`code`,
            li.remark,
            li.create_date as createDate
        FROM
            order_info oi
                LEFT JOIN logistics_info li ON ( oi.id = li.order_id )
                LEFT JOIN user_info ui ON ( ui.id = oi.user_id )
        WHERE
            1 = 1
          AND oi.order_status = 2
          AND ui.user_id = #{userId}
          AND li.current_logistics = 1
    </select>

    <!-- 根据时间获取订单信息 -->
    <select id="selectOrderByCheckMonth" resultType="cc.mrbird.febs.cos.entity.OrderInfo">
        select
        oi.id,
        oi.code,
        oi.pharmacy_id,
        oi.total_cost,
        oi.user_id,
        oi.create_date,
        oi.logistics_id,
        oi.order_status,
        ui.name,
        ui.phone,
        ui.address AS userAddress
        from
        order_info oi
        left join user_info ui on
        (ui.id = oi.user_id)
        where
        DATE_FORMAT( oi.create_date, '%Y' ) = #{year}
        and DATE_FORMAT( oi.create_date, '%m' ) = #{month}
    </select>
</mapper>
