<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.OrderEvaluateMapper">

    <!-- 分页获取订单评价信息 -->
    <select id="selectEvaluatePage" resultType="java.util.LinkedHashMap">
        select
        oe.id,
        oe.order_id,
        oe.user_id,
        oe.pharmacy_id,
        oe.score,
        oe.content,
        oe.images,
        oe.create_date,
        oi.code,
        oi.total_cost,
        ui.name,
        ui.address AS userAddress,
        phi.name AS pharmacyName
        from
        order_evaluate oe
        left join order_info oi on
        (oi.id = oe.order_id)
        left join pharmacy_info phi on
        (phi.id = oe.pharmacy_id)
        left join user_info ui on
        (ui.id = oe.user_id)
        where
        1 = 1
        <if test="orderEvaluate.orderCode != null and orderEvaluate.orderCode != ''">
            AND oi.code LIKE CONCAT('%',#{orderEvaluate.orderCode},'%')
        </if>
        <if test="orderEvaluate.userName != null and orderEvaluate.userName != ''">
            AND ui.name LIKE CONCAT('%',#{orderEvaluate.userName},'%')
        </if>
        <if test="orderEvaluate.pharmacyName != null and orderEvaluate.pharmacyName != ''">
            AND phi.name LIKE CONCAT('%',#{orderEvaluate.pharmacyName},'%')
        </if>
        <if test="orderEvaluate.userId != null ">
            AND ui.user_id = #{orderEvaluate.userId}
        </if>
        order by
        oe.create_date desc
    </select>
</mapper>
