<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.OrderDetailMapper">

    <!-- 分页获取订单详情信息 -->
    <select id="selectOrderDeatilPage" resultType="java.util.LinkedHashMap">
        select
        od.id,
        od.drug_id,
        od.quantity,
        od.unit_price,
        od.all_price,
        od.order_id,
        di.name AS drugName,
        di.brand,
        di.images,
        oi.code,
        ui.name,
        ui.phone,
        ui.address AS userAddress
        from
        order_detail od
        left join drug_info di on
        (di.id = od.drug_id)
        left join order_info oi on
        (oi.id = od.order_id)
        left join user_info ui on
        (ui.id = oi.user_id)
        where
        1 = 1
        <if test="orderDetail.drugName != null and orderDetail.drugName != ''">
            AND di.name LIKE CONCAT('%',#{orderDetail.drugName},'%')
        </if>
        <if test="orderDetail.brand != null and orderDetail.brand != ''">
            AND di.brand LIKE CONCAT('%',#{orderDetail.brand},'%')
        </if>
        <if test="orderDetail.orderCode != null and orderDetail.orderCode != ''">
            AND oi.code LIKE CONCAT('%',#{orderDetail.orderCode},'%')
        </if>
        <if test="orderDetail.userName != null and orderDetail.userName != ''">
            AND ui.name LIKE CONCAT('%',#{orderDetail.userName},'%')
        </if>
    </select>

    <!-- 根据订单ID获取购买详细物品 -->
    <select id="selectDetailByOrder" resultType="java.util.LinkedHashMap">
        select
        od.id,
        od.drug_id,
        od.quantity,
        od.unit_price,
        od.all_price,
        od.order_id,
        di.name AS drugName,
        di.brand,
        di.images,
        di.dosage_form,
        oi.code,
        ui.name,
        ui.phone,
        ui.address AS userAddress
        from
        order_detail od
        left join drug_info di on
        (di.id = od.drug_id)
        left join order_info oi on
        (oi.id = od.order_id)
        left join user_info ui on
        (ui.id = oi.user_id)
        where
        1 = 1
        AND od.order_id = #{orderId}
    </select>
</mapper>
