<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.PharmacyInfoMapper">

    <!-- 分页获取药店信息 -->
    <select id="selectPharmacyPage" resultType="java.util.LinkedHashMap">
        select
        phi.id,
        phi.code,
        phi.name,
        phi.address,
        phi.business_status,
        phi.qualification,
        phi.longitude,
        phi.latitude,
        phi.images,
        phi.business_hours,
        phi.create_date,
        phi.legal_person,
        phi.phone
        from
        pharmacy_info phi
        where
        1 = 1
        <if test="pharmacyInfo.code != null and pharmacyInfo.code != ''">
            AND phi.code LIKE CONCAT('%',#{pharmacyInfo.code},'%')
        </if>
        <if test="pharmacyInfo.name != null and pharmacyInfo.name != ''">
            AND phi.name LIKE CONCAT('%',#{pharmacyInfo.name},'%')
        </if>
        <if test="pharmacyInfo.legalPerson != null and pharmacyInfo.legalPerson != ''">
            AND phi.legal_person LIKE CONCAT('%',#{pharmacyInfo.legalPerson},'%')
        </if>
        <if test="pharmacyInfo.businessStatus != null">
            AND phi.business_status = #{pharmacyInfo.businessStatus}
        </if>
        order by
        phi.create_date desc
    </select>
</mapper>
