<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.PharmacyInventoryMapper">

    <!-- 分页获取药店库存信息 -->
    <select id="selectPharmacyInventoryPage" resultType="java.util.LinkedHashMap">
        select
        pin.id,
        pin.pharmacy_id,
        pin.drug_id,
        pin.reserve,
        pin.shelf_status,
        pin.start_date,
        pin.end_date,
        pin.remark,
        pi2.name as pharmacyName,
        pi2.code as pharmacyCode,
        di.name as drugName,
        di.brand,
        di.category,
        di.images
        from
        pharmacy_inventory pin
        left join pharmacy_info pi2 on (pi2.id = pin.pharmacy_id)
        left join drug_info di on (di.id = pin.drug_id)
        where 1 = 1
        <if test="pharmacyInventory.pharmacyName != null and pharmacyInventory.pharmacyName != ''">
            AND pi2.name LIKE CONCAT('%',#{pharmacyInventory.pharmacyName},'%')
        </if>
        <if test="pharmacyInventory.drugName != null and pharmacyInventory.drugName != ''">
            AND di.name LIKE CONCAT('%',#{pharmacyInventory.drugName},'%')
        </if>
        <if test="pharmacyInventory.brand != null and pharmacyInventory.brand != ''">
            AND di.brand LIKE CONCAT('%',#{pharmacyInventory.brand},'%')
        </if>
    </select>

    <!-- 根据药房ID获取库存信息 -->
    <select id="selectInventoryByPharmacy" resultType="java.util.LinkedHashMap">
        select
        pin.id,
        pin.pharmacy_id,
        pin.drug_id,
        pin.reserve,
        pin.shelf_status,
        pin.start_date,
        pin.end_date,
        pin.remark,
        pi2.name as pharmacyName,
        pi2.code as pharmacyCode,
        di.name as drugName,
        di.brand,
        di.category,
        di.classification,
        di.dosage_form,
        di.unit_price,
        di.images
        from
        pharmacy_inventory pin
        left join pharmacy_info pi2 on (pi2.id = pin.pharmacy_id)
        left join drug_info di on (di.id = pin.drug_id)
        where 1 = 1
        and pin.pharmacy_id = #{ pharmacyId }
    </select>

    <!-- 获取药品信息 -->
    <select id="selectPharmacyDrugList" resultType="java.util.LinkedHashMap">
        select
        pin.id,
        pin.pharmacy_id,
        pin.drug_id,
        pin.reserve,
        pin.shelf_status,
        pin.start_date,
        pin.end_date,
        pin.remark,
        pi2.name as pharmacyName,
        pi2.code as pharmacyCode,
        di.name as drugName,
        di.brand,
        di.category,
        di.classification,
        di.dosage_form,
        di.unit_price,
        di.images
        from
        pharmacy_inventory pin
        left join pharmacy_info pi2 on (pi2.id = pin.pharmacy_id)
        left join drug_info di on (di.id = pin.drug_id)
        where 1 = 1
        AND pin.shelf_status = 1
        <if test="key != null and key != ''">
            AND di.name LIKE CONCAT('%',#{key},'%')
        </if>
    </select>
</mapper>
