<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.PurchaseInfoMapper">

    <!-- 分页获取药品采购信息 -->
    <select id="selectPurchasePage" resultType="java.util.LinkedHashMap">
        select
            pui.id,
            pui.code,
            pui.supplier_id,
            pui.amount,
            pui.purchaser,
            pui.create_date,
            pui.status,
            pui.logistics,
            pui.total_price,
            pui.pharmacy_id,
            ei.name,
            ei.credit_code,
            ei.industry,
            pi2.name as pharmacyName,
            pi2.code as pharmacyCode,
            pi2.images
        from
            purchase_info pui
                left join enterprise_info ei on
                (ei.id = pui.supplier_id)
        left join pharmacy_info pi2 on (pi2.id = pui.pharmacy_id)
        where
            1 = 1
        <if test="purchaseInfo.code != null and purchaseInfo.code != ''">
            AND pui.code LIKE CONCAT('%',#{purchaseInfo.code},'%')
        </if>
        <if test="purchaseInfo.purchaser != null and purchaseInfo.purchaser != ''">
            AND pui.purchaser LIKE CONCAT('%',#{purchaseInfo.purchaser},'%')
        </if>
        <if test="purchaseInfo.status != null">
            AND pui.status = #{purchaseInfo.status}
        </if>
        order by
        pui.create_date desc
    </select>
</mapper>
