<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.UserInfoMapper">

    <!-- 分页获取用户信息 -->
    <select id="selectUserPage" resultType="java.util.LinkedHashMap">
        select
        ui.id,
        ui.code,
        ui.name,
        ui.mail,
        ui.phone,
        ui.province,
        ui.city,
        ui.area,
        ui.address,
        ui.user_id,
        ui.create_date,
        ui.is_member
        from
        user_info ui
        where 1 = 1
        <if test="userInfo.code != null and userInfo.code != ''">
            AND ui.code LIKE CONCAT('%',#{userInfo.code},'%')
        </if>
        <if test="userInfo.name != null and userInfo.name != ''">
            AND ui.name LIKE CONCAT('%',#{userInfo.name},'%')
        </if>
        <if test="userInfo.address != null and userInfo.address != ''">
            AND ui.address LIKE CONCAT('%',#{userInfo.address},'%')
        </if>
        order by ui.create_date DESC
    </select>
</mapper>
